body {

background : white;

} 



p.myName {
   font-size: 70px;
   font-family: "Times New Roman"; 
   font-weight: bold;
   color:  black;
   text-align: center;
  
}


p.contactInfo {
   font-size: 19px;
   font-family: "Times New Roman"; 
   font-weight: normal;
   color:  black;
   text-align: center;
  
}


p.subheads{
   font-size: 13px;
   font-family: "Times New Roman"; 
   font-weight: bold;
   color:  black;
  
}

p.norms {
   font-size: 14px;
   font-family: Times New Roman; 
   font-weight: normal;
   color:  black;
  
}

p.normsItalics {
   font-size: 14px;
   font-family: Times New Roman; 
   font-style: italic;
   font-weight: normal;
   color:  black;
  
}


hr.border {
  border: 1px dotted black;
}

li.smallerfont {
	
   font-size: 14px;
   font-family: "Times New Roman"; 
   font-weight: normal;
   color:  black;
}

p.smallerfont {
	font-size: 14px;
   font-family: "Times New Roman"; 
   font-weight: normal;
   color:  black;
}

div.closerLines {
	line-height:	10%;
}