body { 
background : white;
}  

#topGreenBox {
  background-color: #B5E5CF ;
  padding: 35px ;
  border: 0px solid green ;
}

#bottomGreenBox {
  background-color: #B5E5CF ;
  padding: 35px ;
  border: 0px solid green ;
}



h1.heyThere {
   font-size: 80px;
   font-family: Insaniburger; 
   font-weight: bold;
   color:  black;
   text-align: left;
   padding:0;
  
}

a.tabs {
   font-size: 25px;
   font-family: Insaniburger; 
   font-weight: normal;
   color:  black;
   float: right;
   text-decoration: none;
  
}

a.linksHover {
   font-size: 36px;
   font-family: Insaniburger; 
   font-weight: normal;
   color:  black;

   text-decoration: none;
  
}




img {
	float: right;
}


/*p.dashed {
	border-style: dashed;
	border-width: thick;
	width: 1200px;
	padding:50px;
	height: 1270px;
	color: #FF9388;
}*/

p.greenDashes {
	border-top-style: dashed;
	border-width: 40px;
	color: #1FAEA2;
}


p.pinkLines {
  border-top-style: dotted;
  border-width: 20px;
  color: #FF9388;
}


div.quote {
   font-size: 40px;
   font-family: Insaniburger; 
   font-weight: normal;
   color:  #1FAEA2 ;
   text-align: justify;
   padding:1px;
  
}

p.infoAboutMe {
   font-size: 30px;
   font-family: Insaniburger; 
   font-weight: normal;
   color:  black;
   text-align: justify;
   padding:10px;
  
}

p {
   font-size: 30px;
   font-family: Insaniburger; 
   font-weight: normal;
   
   text-align: left;
   padding:10px;
  
}

p.bigger {
   font-size: 40px;
   font-family: Insaniburger; 
   font-weight: normal;
   
   text-align: left;
  
  
}

.black_Pcolor{
	color: black;
}

.pink_Pcolor{
	color: #FF9388;
}

.red_Pcolor{
	color:red;
	font-weight: bold; 
}


a.otherLinks {
   font-size: 30px;
   font-family: Insaniburger; 
   font-weight: normal;
   color:  black;
   text-align: justify;
   text-decoration: none;
  
}

p.format_Faves {
   font-size: 50px;
   font-family: Insaniburger; 
   font-weight: normal;
   text-align: left;
   padding:10px;
  
}

.green_Pcolor{
	color: #1FAEA2;
}

li {
	color:#1FAEA2;
	font-size: 30px;
	font-family:Insaniburger;
	
	
}

ul {

	color:#1FAEA2;
	font-size: 30px;
	font-family:Insaniburger;
}

ol.try {
   font-size: 30px;
   font-family: Insaniburger; 
   font-weight: normal;
   padding:50px;
   color:#1FAEA2;
  
}

a:visited {
  color: purple;
}


a:hover {
  color: #FF9388;
}

#information {
  font-family: Insaniburger, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#information td, #information th {
  border: 1px solid #ddd;
  padding: 8px;
}

#information tr:nth-child(odd){
	background-color: #ffc0cb;
}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1FAEA2;
  color: white;
}

#information {
  font-family: Insaniburger, Helvetica,Calibri,sans-serif;
  font-size:45px;
  color:purple;
  border-collapse: collapse;
  width: 100%;
}

#information td, #information th {
  border: 20px solid #fff;
  padding: 40px;
}

#information tr:nth-child(odd){
	background-color: #f77;
}


#information th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color: #ffc0cb;
  color: black;
}






