
#makeBorder {
	border-style: outset; 
	padding: 30px 30px 30px 30px;

	
}

@font-face {
	font-family: 'Arial Black'; 
	src: url('arial.tff'); 
} 


#diffFont {
	font-family: 'Arial Black'; 
	font-family: "Arial Black"; 
}


p.b {
  font-family: Arial, Helvetica, sans-serif;
}


#smallSize {
	font-size: 13px; 
}